@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.heading_section{
    background: #D83A56;
    padding: 50px 10px 50px 20px;
    width: 100%;
    color: white;
}

.input_section{
    display: flex;
    line-height: 1.8rem;
    margin-top: 2.2rem;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input_section textarea{
    outline: none;
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    border: 3px solid grey;
    border-radius: 0.3rem;
    height: 100%;
    min-height: 20vh;
    width: 100%;
}
.input_section button{
    cursor: pointer;
    width: max-content;
    padding: 0.5rem 1rem;
}
.input_section button:hover{
    transform: scale(1.1);
}
.result_section{
    width: 80%;
    text-align: center;
    box-shadow: 2px 2px 8px 3px grey;
    height: 100%;
    min-height: 20vh;
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

p{
    margin: 1rem;
    text-align: center;
}

.footer{
    background-color:transparent;
}
.footer p{
    text-align: center;
    color: black;
}
.footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer ul li{
    padding: 1.2rem 1rem;
    list-style-type: none;
   
}
.footer ul li a{
    color: black;
    text-decoration: none;
}
